@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-main: #fdd22c;
  --color-main-dull: #e3b609;
  --color-main-duller: #ee9b00;
  --color-main-text: #2e2726;
  --color-border: #c4c6d4;
}

@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
/* @source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}'; */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
